{% layout settings.customer_layout %}


<section class="frame page">
    <div class="pure-g-r">
        <div class="pure-u-1-4 pur-u-med-1-4 side-bar">
            <nav>
              <ul>
                <li class="page-title">My Account</li>
                
                  <li><a id="view_address" href="/account/addresses">Addresses [{{ customer.addresses_count }}]</a></li>
                  <li><a id="view_address" class="active" href="/account/">Orders [{{ customer.orders.size }}]</a></li>
                  <li><a href="{{ shop.url }}">Return to Shop</a></li>
                  <li><a href="/account/logout">Logout</a></li> 
              </ul>
            </nav>
        </div>
        <section class="pure-u-3-4  pur-u-med-3-4 account-page">
           <article class="plain" >
    			
             <h1>{{ customer.name }}</h1>
          <p class="plain">{{ customer.email }}</p>
             <h1>Address</h1>
    
    <div class="address note">
      {% if customer.default_address != nil %}
        <h2 class="plain">{{ customer.default_address.address1 }} (DEFAULT ADDRRESS)<br><br>
      </h2>
      	<p class="plain">{{ customer.default_address.address1 }}<br>
         {% if customer.default_address.address2 != "" %}
          {{ customer.default_address.address2 }}<br>
        {% endif %}
        {{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}<br>
        {{ customer.default_address.zip}}<br>
        {{ customer.default_address.phone }}</p>
      {% endif %}
      <p><a class="pure-button secondary" href="/account/addresses">View ALL Addresses ({{ customer.addresses_count }})</a></p>
    </div>

  </article>		
          <article class="plain">
            <h1>Orders</h1>
          {% if customer.orders.size != 0 %}
          
            
            <div class="pure-g-r orders">
                  {% for order in customer.orders %}
                 <div class="pure-u-1-3 pur-u-med-1-2 ">
                   {% if order.cancelled %}<p>Cancelled order</p>{% endif %}
                   <h3 class="plain">Order {{ order.name  }}</h3>
                   <p class="plain">{{ order.created_at | date: "%b %d, %Y" }}</p>
                   <h3 class="plain">Payment Status</h3>
                   <p class="plain">{{ order.financial_status }}</p>
                   <h3 class="plain">Shipping Status</h3>
                   <p class="plain">{{ order.fulfillment_status }}</p>
                   <p class="plain"><a class="inline-button" href="{{ order.customer_url }}">View Order</a></p>
                 </div>
              	{% endfor %}
            </div>
          {% else %}
            <p>You haven't placed any orders yet.</p>
          {% endif %}
        </article>
          
          
        </section>
    </div>
</section>





